<div>
    <h2 id="page-heading">
        <span>Ap Payees</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ap-payee" [routerLink]="['/ap-payee/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Ap Payee
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="apPayees?.length === 0">
        <span>No apPayees found</span>
    </div>
    <div class="table-responsive" *ngIf="apPayees?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Name</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let apPayee of apPayees ;trackBy: trackId">
                <td><a [routerLink]="['/ap-payee', apPayee.id, 'view' ]">{{apPayee.id}}</a></td>
                <td>{{apPayee.name}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/ap-payee', apPayee.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ap-payee', apPayee.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ap-payee', { outlets: { popup: apPayee.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
